@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.button{
  @apply flex border-2 border-[#abe1ab] w-25 h-10 justify-center items-center rounded-md 
  shadow-[0px_5px_0px_0px_#abe1ab] 
  hover:shadow-[0px_0px_0px_0px_#abe1ab] transition duration-200;

  &.button--default{
    @apply bg-white
  }
  
}

form{
  input,text-area{
    @apply border rounded-md
  }
}
